---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Aroundy">
	<header>
		<div>
			<img />
			<h1>Aroundy</h1>
		</div>
		<a>기업 로그인</a>
	</header>
	<main>
		<div>
			<div>
				<h2>내가 찾던 혜택과 정보<br>어라운디에서 쉽고 빠르게</h2>
				<div>
					<button>Google Play</button>
					<button>App Store</button>
				</div>
			</div>
		</div>
		<div>
			<p>일상 속 이벤트와 새로운 서비스를</p>
			<img />
		</div>
		<div>
			<img />
			<p>가장 빠르게 만나볼 수 있습니다</p>
		</div>
		<div>
			<h3>Real <span>Talk</span></h3>
			<ul>
				<li>
					<h4>추천해요!</h4>
					<p>사고 싶던건 꼭 이벤트 끝나고 나서야 알게되었는데, 미리미리 이벤트를 알려주니 너무 좋아요!</p>
					<span>김*준 님</span>
				</li>
				<li>
					<h4>진짜 필요한 어플</h4>
					<p>할인정보를 한눈에 볼 수 있어서 너무 좋네요 전에는 할인정보를 찾아 다녔다면 이제 안그래도 될 것 같아요!! 브랜드별로 할인정보가 다 나와있어서 찾아다닐 필요가 없어요.. 여지껏 힘들었는데 ㅠㅠ</p>
					<span>최*연 님</span>
				</li>
				<li>
					<h4>카테고리 굳</h4>
					<p>여러 정보들이 많고 한 눈에 보기 편하게 정리가 되어 있어서 좋아요!</p>
					<span>이*훈 님</span>
				</li>
			</ul>
		</div>
	</main>
</Layout>
