---
import { Icon } from 'astro-icon/components'

interface Props {
	icon: string
}

const { icon } = Astro.props
---

<button
	class="flex items-center rounded-lg bg-white px-6 py-2 text-xl font-medium text-gray-600 shadow"
>
	<Icon name={icon} size={40} />
	<slot />
</button>
